.vs-tooltip {
  background: rgb(21, 209, 16);
  position: absolute;
  z-index: 25000;
  padding: 5px;
  display: block;
  transform: translateY(-90%);
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0;
  transition: opacity .2s ease, transform .2s ease;
  font-size: 14px;
  background: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  max-width: 300px;
}
.vs-tooltip p {
  position: relative;
  z-index: 100;
}
.vs-tooltip::after {
  position: absolute;
  bottom: 0px;
  content: '';
  left: 50%;
  background: inherit;
  transform: translate(-50%) rotate(45deg);
  width: 17px;
  height: 17px;
  z-index: 10;
}
.vs-tooltip-left::after {
  bottom: auto !important;
  top: 50% !important;
  transform: translate(0,-50%) rotate(45deg) !important;
  right: 0px !important;
  left: auto !important;
}
.vs-tooltip-right::after {
  bottom: auto !important;
  top: 50% !important;
  transform: translate(0,-50%) rotate(45deg) !important;
  right: auto !important;
  left: 0px !important;
}
.vs-tooltip-bottom::after {
  bottom: auto !important;
  top: 0px !important;
  transform: translate(-50%) rotate(45deg) !important;
  right: auto !important;
  left: 50% !important;
}
