// colors
$accentColor = #5b3cc4
$textColor = rgb(91, 87, 119)
$borderColor = #eaecef
// $codeBgColor = #110d26
$codeBgColor = #f5f7fb
$arrowBgColor = #ccc

// layout
$navbarHeight = 3rem
$sidebarWidth = 15rem
$contentWidth = 1200px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 800px
$MQMobileNarrow = 419px

// Vuesax
$background = #ffffff

* {
  box-sizing: border-box;
  outline:none
}
