.DS_Store
node_modules
# dist

# local env files
.env.local
.env.*.local
*.map
dist/demo.html
docs/.vuepress/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Editor directories and files
.bitmap
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln

\.vs/
