.DS_Store
public/
docs/
src/
scripts/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.map
dist/demo.html

# Editor directories and files
.idea
.vscode
.bitmap
*.suo
*.ntvs*
*.njsproj
*.sln
.github/
