// colors
$accentColor = #5b3cc4
$textColor = rgb(100, 100, 100)
$borderColor = #eaecef
$codeBgColor = #110d26

// layout
$navbarHeight = 3rem
$sidebarWidth = 17rem
$contentWidth = 1200px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


// vueThemes
$background = #ffffff

* {
  box-sizing: border-box;
  outline:none
}
