/*
colors
========================
*/

// Number Colors

$vs-primary = 31, 116, 255
$vs-secondary = 121, 49, 177
$vs-danger = 255, 71, 87
$vs-success = 70, 201, 58
$vs-warning = 255,186,0
$vs-dark = 30, 30, 30
$vs-light = 245, 245, 245

// Brand colors

$vs-primary-color = rgb($vs-primary)
$vs-secondary-color = rgb($vs-secondary)


// App level

$vs-danger-color = rgb($vs-danger)
$vs-success-color = rgb($vs-success)
$vs-warning-color = rgb($vs-warning)
$vs-dark-color = rgb($vs-dark)
$vs-light-color = rgb($vs-light)

$vs-colors := {
  primary: $vs-primary-color,
  secondary: $vs-secondary-color,
  danger: $vs-danger-color,
  success: $vs-success-color,
  warning: $vs-warning-color,
  dark: $vs-dark-color,
  light: $vs-light-color
}

:root {
  --primary: $vs-primary
  --danger: $vs-danger
  --success: $vs-success
  --dark: $vs-dark
  --warning: $vs-warning
}

var(colorx, alpha = 1)
  unquote("rgba(var(--"+colorx+"), "+alpha+")")

varx(colorx)
  unquote("var(--"+colorx+")")


// , $vs-secondary, $vs-danger, $vs-success, $vs-warning, $vs-dark, $vs-light


// global vars

$vs-radio := 6px
$vs-disabled-opacity := .5
$vs-transition := all .25s ease
$vs-border := 1px solid rgba(0, 0, 0, 0.1)
$vs-label-color := rgba(0,0,0,.6)
$vs-box-shadow := 0px 5px 20px 0px rgba(0, 0, 0, 0.05)
$vs-background := rgb(255, 255, 255)

// select vars

$border-color :=  rgb(255, 255, 255)
