// $vs-primary = rgb(31, 116, 0)
// $vs-secondary = rgb(121, 49, 177)


// // App level

// $vs-danger = rgb(255, 71, 87)
// $vs-success = rgb(70, 201, 58)
// $vs-warning = rgb(255,186,0)
// $vs-dark = rgb(30, 30, 30)
// $vs-light = rgb(245, 245, 245)

// $vs-colors = {
//   primary: rgb(31, 116, 0),
//   secondary: $vs-secondary,
//   danger: $vs-danger,
//   success: $vs-success,
//   warning: $vs-warning,
//   dark: $vs-dark,
//   light: $vs-light
// }
@import '../../src/styles/index.styl'

// $vs-primary = 231, 0, 255

// :root {
//   --primary: $vs-primary
// }

