// $vs-primary = 31, 116, 0
// $vs-secondary = 121, 49, 177
// $vs-danger = 255, 71, 87
// $vs-success = 70, 201, 58
// $vs-warning = 255,186,0
// $vs-dark = 30, 30, 30
// $vs-light = 245, 245, 245


// $vs-colors := {
//   primary: $vs-primary,
//   secondary: $vs-secondary,
//   danger: $vs-danger,
//   success: $vs-success,
//   warning: $vs-warning,
//   dark: $vs-dark,
//   light: $vs-light
// }

//  @import '../../src/style/vuesax.styl'

// :root {
//   --vs-primary: $vs-colors['primary']
//   --vs-danger: $vs-colors['danger']
//   --vs-success: $vs-colors['success']
//   --vs-dark: $vs-colors['dark']
//   --vs-warning: $vs-colors['warning']
//   --vs-light: $vs-colors['light']
// }

