.vs-input-number
  width: 100%;
  max-width 90px;
  position relative
  display block
  display flex
  align-items: center
  justify-content: center
  margin: 5px 10px;
  background: rgb(245,245,245)
  padding: 2px;
  border-radius: 20px;
  &.isChangeValue
    input
      transform: translate(0,-2px)
      opacity .5
  input
    transition: all .2s ease;
    width: 100%;
    border 0px
    text-align: center
    background: transparent
    padding: 4px;
    -moz-appearance: textfield;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none;
    margin: 0;
  button
    min-width: 22px
    min-height: 22px
    padding: 0px
    margin: 0px
    display: block
    position relative
    border: 0px;
    border-radius: 5px;
    cursor pointer
    display: flex
    align-items: center
    justify-content: center
    transition: all .3s ease;
    i
      font-size: .9rem


    &.btn-plus
      transform translate(6px)
      &:active
        transform scale(.9) translate(6px) !important
    &.btn-less
      transform translate(-6px)
      &:active
        transform scale(.9) translate(-6px) !important

for colorx, i in $vs-colors
  .vs-input-number-{colorx}
    button
      background: $vs-colors[colorx];
      color: rgba(255,255,255,1)
      &:hover
        box-shadow: 0px 3px 12px 0px alpha($vs-colors[colorx].4);

