// imports
@import './components/vsAvatar'
@import './components/vsBreadcrumb'
@import './components/vsButton'
@import './components/vsDivider'
@import './components/vsSelect'
@import './components/vsSwitch'
@import './components/vsCheckBox'
@import './components/vsRadio'
@import './components/vsInput'
@import './components/vsTabs'
@import './components/vsSlider'
@import './components/vsInputNumber'
@import './components/vsTooltip'
@import './components/vsUpload'
@import './components/vsPopup'
@import './components/vsAlert'
@import './components/vsChip'
@import './components/vsProgress'
@import './components/vsCard'
@import './components/vsList'
@import './components/vsPagination'
@import './components/vsNavbar'
@import './components/vsSpacer'
@import './components/vsSideBar'
@import './components/vsIcon'
@import './components/vsDropDown'
@import './components/vsTable'
@import './components/vsTextarea'
@import './components/vsCollapse'
@import './components/vsImages'
@import './components/vsDialog'
@import './components/vsLoading'
@import './components/vsNotifications'
@import './components/vsTimePicker'
//New Component import
