
// get color ver css
getColor(colorx, alpha = 1)
    unquote("rgba(var(--vs-"+colorx+"), "+alpha+")")


getVar(var)
    unquote("var(--vs-"+var+")")


// Rtl Mixins
propWithDir(prop, value)
  .vuesax-app-is-rtl &
    {prop}-right: value
  .vuesax-app-is-ltr &
    {prop}-left: value
dirValue(prop)
  .vuesax-app-is-rtl &
    {prop}: right
  .vuesax-app-is-ltr &
    {prop}: left

