
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* list-style: none; */
  outline: none;
  text-transform: none;
  text-decoration: none;
}


.vuesax-app-is-rtl
  direction: rtl;

.vuesax-app-is-ltr
  direction: ltr;

*[class*="vx-"]
  display: none !important
  pointer-events: none !important
  opacity 0 !important
  visibility hidden !important


@import './colors'
@import './mixins'
@import './vars'


@import './root'
@import './components/**'
