@import './vsButton/main'
@import './vsSelect/main'
@import './vsSwitch/main'
@import './vsCheckBox/main'
@import './vsRadio/main'
@import './vsInput/main'
@import './vsTabs/main'
@import './vsSlider/main'
@import './vsInputNumber/main'
@import './vsTooltip/main'
@import './vsUpload/main'


// in progress
@import './vsCollapse/main'
