@import './vsAvatar/main'
@import './vsBreadcrumb/main'
@import './vsButton/main'
@import './vsDivider/main'
@import './vsSelect/main'
@import './vsSwitch/main'
@import './vsCheckBox/main'
@import './vsRadio/main'
@import './vsInput/main'
@import './vsTabs/main'
@import './vsSlider/main'
@import './vsInputNumber/main'
@import './vsTooltip/main'
@import './vsUpload/main'
@import './vsPopup/main'
@import './vsAlert/main'
@import './vsChip/main'
@import './vsProgress/main'
@import './vsCard/main'
@import './vsList/main'
@import './vsPagination/main'
@import './vsNavbar/main'
@import './vsSpacer/main'
@import './vsSideBar/main'
@import './vsIcon/main'
@import './vsDropDown/main'
@import './vsTable/main'
@import './vsTextarea/main'
@import './vsCollapse/main'
@import './vsImages/main'
@import './vsTimePicker/main'
//New Component import
