.con-vs-checkbox
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  &.vs-checkbox-small
    span.checkbox_x
      width: 15px
      height 15px
  &.vs-checkbox-large
    span.checkbox_x
      width: 24px
      height 24px
  input[type="checkbox"]
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 200;
    cursor: pointer;
    background: rgb(85, 215, 117);
    &:disabled
      cursor: default;
      pointer-events: none;
      & + span.checkbox_x
        opacity $vs-disabled-opacity;
        cursor: default;
        pointer-events: none;
        span._check
          cursor: default;
          pointer-events: none;
    &:active:checked
      & + span.checkbox_x
        span._check
          transform: translate(3px) !important;
        i
          transform: translate(6px) !important;
    &:checked
      & + span.checkbox_x
        transform: rotate(0deg) !important;
        span._check
          transform: translate(0);
        i
          opacity: 1;
          transform: translate(0) !important;
          color: rgb(255, 255, 255) !important;
  span.checkbox_x
    transition: all .2s ease;
    cursor: pointer;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 5px;
    span._check {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      transform: translate(100%);
      transform-origin: right;
      transition: all .20s ease
      z-index: 10;
    }
    i
      backface-visibility: visible;
      transition: all .2s ease-out;
      z-index: 100;
      font-size: 1.125em;
      opacity: 0;
      transform: translate(30px);
      transform-origin: center;

for colorx, i in $vs-colors
  .vs-checkbox-{colorx}
    ._check
      background: var(colorx, 1)
    .checkbox_x
      border: 2px solid rgb(180, 180, 180)
    input
      &:checked
        & + span.checkbox_x
          border: 2px solid var(colorx, 1) !important
