.vs-noti-contenedor {
  position: fixed;
  cursor: pointer;
  z-index: 100000;
  overflow: hidden;
  display: block;
  border-radius: 7px;
  max-width: 290px;
  min-width: 220px;
  transition: all .3s ease;
  box-shadow: 0px 12px 0px 0px rgba(0, 0, 0, 0.0);
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  backface-visibility: hidden;
  /* padding-right: 10px; */
}
.con-icon {
  /* padding-right: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.con-icon .vs-noti {
  width: calc(100% - 45px);
}
.vs-noti-listo {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.160);
}
.rellenox {
  width: 0px;
  height: 0px;
  content: '';
  position: absolute;
  transition: all .8s ease,left .4s ease,top .4s ease;
  display: block;
  border-radius: 50%;
  z-index: 10;
  transform: translate(-50%,-50%);
}
.vs-noti {
  /* padding: 10px; */
  z-index: 100;
  position: relative;
  opacity: 0;
  transition: all .3s ease;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.vs-noti-listo .vs-noti{
  opacity: 1;
}
.vs-con-fluent {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 300;
  display: block;
  top: 0px;
  left: 0px;
}
.vs-fluent {
  position: absolute;
  z-index: 400;
  display: block;
  backface-visibility: hidden;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  transition: opacity 1s ease,width .4s ease,height .4s ease;
  background: rgba(255, 255, 255, 0.20);
  opacity: 0;
  filter: blur(22px);
}

.icon-noti {
  position: relative;
  /* right: 7px; */
  /* top: 50%; */
  /* transform: translate(0,-50%); */
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255,.2);
  border-radius: 50%;
  display: block;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.icon-noti i {
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 0;
}
.vs-noti-listo i {
  opacity: 1;
}
.vs-white .vs-noti,.vs-white i{
  color: rgba(0, 0, 0, 0.7);
}
.vs-white .rellenox{
  background: rgb(255, 255, 255) !important;
}


.vs-white .vs-noti-title {
  color: rgba(0, 0, 0, 0.7);
}
.vs-noti-title {
  color: rgb(255, 255, 255);
  z-index: 1000;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 3px;
  opacity: 0;
  transition: al .3s ease;
  padding-left: 0px;
  /* font-weight: lighter; */
  font-size: 16px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.050); */
}
.vs-noti-listo .vs-noti-title {
  opacity: 1;
}

@media only screen and (max-width: 400px) {

  .vs-noti-contenedor {
    max-width: calc(100% - 20px);
  }
}
